@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Test Tabelle</h2>
        <h3>Block A</h3>
        @*<ul>
            @foreach (var wrestler in Model.G1.BlockA.Wrestlers)
            {
                <li>@wrestler.Name</li>
            }
        </ul>*@
        
            @*@for (var x = 0; x < Model.G1.BlockA.Matches.GetLength(0); x++)
            {
                @for (var y = 0; y < Model.G1.BlockA.Matches.GetLength(0); y++)
                {
                    try
                    {
                        <td>@Model.G1.BlockA.Matches[x, y].Wrestlers[0].Name vs @Model.G1.BlockA.Matches[x, y].Wrestlers[1].Name</td>
                    }
                    catch
                    {
                        <td>---</td>
                    }
                 }

            }*@
        

        <table class="table table-bordered">
            <tr>
                <td></td>
                @foreach (var wrestler in Model.G1.BlockA.Wrestlers)
                {
                    <th scope="col">@wrestler.Name</th>
                }
            </tr>
            
            @for (var x = 0; x < Model.G1.BlockA.Matches.GetLength(0); x++)
            {
                    <tr>
                        <th scope="row">@Model.G1.BlockA.Wrestlers[x].Name</th>
                        @for (var y = 0; y < Model.G1.BlockA.Matches.GetLength(0); y++)
                        {
                            if (Model.G1.BlockA.Matches[x, y] != null)
                            {
                                <td>@Model.G1.BlockA.Matches[x, y].Wrestlers[0].Name vs @Model.G1.BlockA.Matches[x, y].Wrestlers[1].Name</td>
                            }
                            else
                            {
                                <td> X </td>
                            }
                        }
    
                    </tr>

            }

        </table>


    </div>
</div>

