@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">



    <font class="col-md-8">
        <h3>Tables</h3>

        <table class="table table-bordered table-hover">
            <tr>
                <td> <font size="6">A</font> </td>
                @foreach (var wrestler in Model.G1.BlockA.Wrestlers)
                {
                        <th scope="col">@wrestler.Name</th>
                }
                <th scope="col">Total</th>

            </tr>

            @for (var x = 0; x < Model.G1.BlockA.Matches.GetLength(0); x++)
            {
                <tr>
                    <th scope="row">@Model.G1.BlockA.Wrestlers[x].Name</th>

                    @for (var y = 0; y < Model.G1.BlockA.Matches.GetLength(0); y++)
                    {
                        if (Model.G1.BlockA.Matches[x, y] != null)
                        {
                            <td>@Model.G1.BlockA.Matches[x, y].MatchContenders[0].Name <br /> vs <br /> @Model.G1.BlockA.Matches[x, y].MatchContenders[1].Name</td>
                        }
                        else
                        {
                            <td> — </td>
                        }
                    }
                    <td>@Model.G1.BlockA.Wrestlers[x].Points</td>
                </tr>
                

            }
        </table>



    </div>
</div>
